
{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="form-elements-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <div class="title mb-10 d-flex justify-content-between align-items-center">
                    <form class="position-relative" role="search" method="get" action="">
                        <input 
                            type="search"
                            name="search"
                            value="{{ request.GET.search|default:'' }}"
                            class="form-control pe-5"
                            placeholder="Search..."
                            aria-label="Search"
                        >
                        <button
                            type="submit"
                            class="btn position-absolute top-50 end-0 translate-middle-y me-2 border-0 bg-transparent"
                        >
                            <iconify-icon icon="solar:magnifer-broken" width="18" class="text-muted"></iconify-icon>
                        </button>
                        </form>
                <form method="post">
                    {% csrf_token %}
                    <div class="more-btn-wrapper">  
                        {{ save_button|safe }}
                    </div>
                </div>
                {{ form.as_p }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}