
{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<style>
@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }
}
</style>

<div class="form-elements-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <div class="title mb-10 d-flex justify-content-between align-items-center">
                    <!-- Form Search -->
                    <form class="position-relative w-100 w-md-25" role="search" method="get" action="">
                        {{ form_search }}
                        <button 
                            type="submit"
                            class="btn position-absolute top-50 end-0 translate-middle-y me-2 border-0 bg-transparent"
                        >
                            <iconify-icon icon="solar:magnifer-broken" width="18" class="text-muted"></iconify-icon>
                        </button>
                    </form>

                    <form method="post">
                    {% csrf_token %}

                    <!-- Navlink / Titik Tiga -->
                    <div class="group-btn square-btn ms-2">
                        <!-- Dropdown titik tiga (mobile) -->
                        <div class="dropdown d-md-none">
                            <button class="btn border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <iconify-icon icon="bi:three-dots-vertical" width="20" class="text-muted"></iconify-icon>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>{{ navlink|safe }}</li>
                            </ul>
                        </div>

                        <!-- Navlink tampil normal di layar besar -->
                        <div class="d-none d-md-block">
                            {{ navlink|safe }}
                        </div>
                    </div>
                </div>



                    {{ form.as_p }}
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}